.bg-cornflowerblue {
  background-color: cornflowerblue;
}

.hover {
  cursor: pointer;
}

.hover:hover {
  opacity: 0.7;
}

.selectItem {
  background-color: cornflowerblue;
  cursor: pointer;
}

.selectItem:hover {
  border: solid 2px gold;
}
